:root {
    --bgr1: rgb(3, 19, 48);
    --bgr2: rgb(4, 28, 72);
    --white: rgb(181, 181, 181);
}

@font-face {
	font-family: 'OswaldAlt';
	src: url("../fonts/Oswald-Light.ttf");
}

* {
	font-family: 'OswaldAlt', Oswald, sans-serif;
	font-weight: 32;
	color: white;
	cursor: default;
}

body {
    background-image: url("../img/background.png") 100%;
	background-color: var(--bgr1);
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.line {
    height: 4px;
    background-color: #E6E6E6;
    width: 100%;
    margin: 3 auto;
    background-image: -webkit-gradient( linear, left bottom, right bottom,
        color-stop(0.1, var(--bgr2)),
        color-stop(0.5, var(--white)),
        color-stop(0.9, var(--bgr2))
    );
}

.bodyLayout {
	background-color: var(--bgr2);
    border-radius: 8px;
    float: left;
    width: 66.66%;
    padding-left:4em;
    padding-top: 2em;
    padding-bottom: 2em;

    margin-top: 1em;
    margin-bottom:1.5em;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .bodyLayout {
      width: 90%;
    }
  }