:root {
    --bgr1: rgb(3, 19, 48);
    --bgr2: rgb(4, 28, 72);
    --bgr3: rgb(6, 35, 91);
    --bgr4: rgb(5, 40, 111);
    --white: rgb(181, 181, 181);
    --console1: rgb(0, 0, 0);
}

@font-face {
	font-family: 'OswaldAlt';
	src: url("../fonts/Oswald-Light.ttf");
}

* {
	font-family: 'OswaldAlt', Oswald, sans-serif;
	font-weight: 32;
	color: white;
	cursor: default;
}

body {
    background-image: url("../img/background.png") 100%;
	background-color: var(--bgr1);
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.title {
	background-color: var(--bgr1);

    
    background-image: linear-gradient(
        var(--bgr1),
        var(--bgr1),
        var(--bgr2),
        var(--bgr3),
        var(--bgr1)
    );

    border-radius: 8px;
    border-style: solid;
    border-color: var(--white);
    border-width: 3px;

    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    font-size: xx-large;
    margin-bottom: 1em;
}

.subtitle {
    font-size: large;
}

.example {
    background-color: var(--console1);
    border-radius: 2px;

    padding: 0.2em;
    font-family: "Courier New";
}

.line {
    height: 4px;
    background-color: #E6E6E6;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    background-image: -webkit-gradient( linear, left bottom, right bottom,
        color-stop(0.1, var(--bgr2)),
        color-stop(0.5, var(--white)),
        color-stop(0.9, var(--bgr2))
    );
}

.bodyLayout {
	background-color: var(--bgr2);
    border-radius: 8px;
    float: left;
    width: 63%;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2em;
    padding-bottom: 2em;

    margin-top: 1em;
    margin-bottom:1.5em;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .bodyLayout {
      width: calc(100% - 8em);
    }
  }